.todo-list[b-lokk15d9a7] {
    display: flex;
    flex-direction: column;
}

.todo-item[b-lokk15d9a7] {
    display: flex;
    align-content: center;
}

.todo-check[b-lokk15d9a7] {
    margin-right: 2rem;
    height: 24px;
    width: 24px;
    border: solid 1px gray;
    border-radius: 50%;
}